@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, grey, white);
    
}
main{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
    margin: auto;
    width: 500px;
}
p{
    font-size: 1.2em;
    text-align: justify;
}
h1, h2{
    text-align: center;
    font-size: 1.5em;
    color: rgb(1, 68, 1);
}
a{
    text-decoration: none;
}